@charset "UTF-8";

@media screen and (max-width: 500px){
}

@font-face{
font-family: 'Android';
src: url('idroid.otf') format('opentype');
font-weight:normal;
  
}

:root{
--cor1:#6FE66E;  
--cor2:#358540;
--cor3:#315235;
--cor4:#01EB20;
--cor5:green;
  
--fontedestaque: 'Android', sans-serif;
--fontnormal: arial, helvetica, verdana, sans-satif;}



header{
margin:auto;
box-shadow: 3px 3px 3px black;
text-align: center;
text-shadow: 2px 2px 2px black;
background-color: var(--cor1);
color:var(--cor4);
padding: 20px;
}

nav{
margin: auto;
box-shadow: 3px 3px 3px black;
padding: 20px;
color:white;
  
  
}
.botao{
 background-color:var(--cor5); 
width:3em;
height:3em;
}

body {
  margin: auto;
  padding: 0px;
}

h1{
  font-family: 'Android',
    sans-serif;
}

main{
margin:auto;
padding:20px;
box-shadow: 3px 2px 1px black;
background-color:white;
min-width:300;
maxmax-width:800;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
font: normal bolder 1em var(--fontnormal);
  
  
}
main img{
width:100%; 
  
}


.imggem{
display:block;
margin:auto;
max-width: 350px;
  
}